$w:#ffffff; //white
$b:#000000; //black
$r:#ff0000; //red
$y: #eedc00; //yellow
$br: #b49759; //brown
$pur: #833177; //purple

$dg:#333333; //darkgrey
$mgrey:#888888; //medium grey
$lgrey:#cccccc; //light grey
$cream:#fbfbf0; //cream
$darkwhite:#e5e6ec; //dark white, lighter than light grey
$lightblack: #1e1e1e; //light black darker than dark grey
$bb: #14ccc3 ; //bright blue


//Brand Colors
$brandGrey:#38393e;
$brandBlue: #86c8bc;
$brandWhite:#fbfbf0; 
$brandYellow:#f2f1db;

$lgreen: #3db75f;